.blogList {
  display: flex;
  margin: -0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.blog {
  display: flex;
  flex-basis: 100%;
  margin: 0.5rem;
  border-radius: 0.4rem;
  overflow: hidden;
  color: #f2f2f2;
  background-color: #8c867b;
}

@media screen and (min-width: 768px) {
  .blog {
    flex-basis: calc(100% / 3);
  }
}

.blog .inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

.blog .header {
  padding: 0 1rem;
}

.blog .body {
  padding: 0 1rem;
  background-color: #595959;
  flex: 1;
}

.blog .url {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
