.editable {
  border: 1px dashed rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  outline: none;
  flex-grow: 1;

  &:focus {
    border: 2px dashed white;
  }
}
