# Passwords for the admin and user accounts on the production server
# duplicate file, rename to .env.secret and provide the passwords 
# this is used when running `npm run cypress:run`
# for cypress to work in github workflow those two passwords need to be set as github secrets
ADMIN_PROD_PASSWORD=
USER_PROD_PASSWORD=